/* App.css */
* {
  padding: 0;
  margin: 0;
  line-height: 1;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #1e272e; /* Set the background color to match the comment section */
  color: #ecf0f1;
}

.app {
  position: relative;
  justify-content: space-between;
  min-height: 100vh;
  padding-bottom: 200px; /* Ensure space for the enlarged comment section */
  background-color: #1e272e; /* Match background color */
}

.content {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  width: 80%;
  max-width: 800px;
}

h1 {
  color: #ecf0f1;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}

.heart-icon {
  margin-bottom: 20px;
}

.timer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}