.comment-section {
  height: 360px;
  overflow: hidden;
  position: relative;
  top: 100px;
}

.comment-container {
  list-style: none;
  position: absolute; /* Smooth transition when scrolling */
}

.comment-container > p {
  padding: 10px;
  color: #fff;
  transition: 0.35s;
}

.comment {
  margin: 0;
  font-size: 18px;
  line-height: 1.8; /* Ensures proper spacing */
  color: #bdc3c7;
  opacity: 1;
}
